<div class="col-sm-6 col-sm-offset-2 text-center  bg-success">
    <div >
        <h2>Sign In</h2>

        <div class="col-sm-6 col-sm-offset-3 text-center">
            <p><input type="login" placeholder="login" class="form-control"></p>

            <p><input type="password" placeholder="password" class="form-control"></p>

            <p class="text-center">
                <button  class="btn btn-success">
                    Sign up
                </button>
            </p>
        </div>
    </div>
</div>
