<div class="col-sm-6 col-sm-offset-2 text-center  bg-success">
    <h2>Registration</h2>

    <p><input type="name" placeholder="name" class="form-control" ng-model="registrationInfo.name"></p>

    <p><input type="surname" placeholder="Email" class="form-control"
              ng-model="registrationInfo.surname"></p>

    <p><input type="login" placeholder="login" class="form-control" ng-model="registrationInfo.login">
    </p>

    <p><input type="password" placeholder="password" class="form-control"
              ng-model="registrationInfo.password"></p>

    <p class="text-center">
        <button ng-click="saveRegistrationInfo(registrationInfo)" class="btn btn-success btn-submit">
            Sign up
        </button>
    <p>
</div>

